<!--bogie URDF-->

<?xml version="1.0"?>

<robot name="bogie" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- xacro properties -->
    <xacro:property name="L4" value="291.10397552"/>
    <xacro:property name="L5" value="214.71408817"/>
    <xacro:property name="L6" value="214.71408817"/>
    <xacro:property name="L5x6" value="303.65157552"/>
    <xacro:property name="Width" value="0.1"/>
    <xacro:property name="Height" value="0.2"/>

    <!-- macro -->
    <xacro:macro name="bogie" params="prefix">
        <link name="${prefix} L4">
            <visual>
                <geometry>
                    <box size="${L4} ${Width} ${Height}"/>
                </geometry>
            </visual>
        </link>
        
        <joint name="${prefix}_bogie_to_rear_wheel" type="fixed">
            <parent link="${prefix}_L4"/>
            <child link="wheel"/>
            <origin xyz="${L4/2} 0 0"/>
        </joint>

        <link name="${prefix} L5x6">
            <visual>
                <geometry>
                    <box size="${L5x6} ${Width} ${Height}"/>
                </geometry>
                <origin xyz="${L5x6/2} 0 0 "/>
            </visual>
        </link>

        <joint name="${prefix}_bogie_to_center_wheel" type="fixed">
            <parent link="${prefix}_L5x6"/>
            <child link="center_wheel"/>
            <origin xyz="${L5x6/2} 0 0"/>
        </joint>

        <joint name="${prefix}_bogie_joint" type="fixed">
            <parent link="${prefix}_L4"/>
            <child link="${prefix}_L5x6"/>
            <origin xyz="${L4/2} 0 0"/>
        </joint>

        <joint name="${prefix}_bogie_to_rocker" type="fixed">
            <parent link="${prefix}_L5x6"/>
            <child link="rocker"/>
            <origin xyz="${L5x6/2} 0 0"/>
        </joint>

    </xacro:macro>

</robot>